{% extends "item.twig" %}

{% set itemUrl = "//portal.ehri-project.eu/countries/" ~ id %}

{% block heading %}
    <h2>
        <a target="_blank" href="{{ itemUrl }}" class="external type-highlight {{ type }}">
            {{ attributes.name }}
        </a>
    </h2>
{% endblock %}

{% block details %}
    <ul>
        {% if meta.updated %}
            <li>Updated {{ meta.updated|time_diff }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    {{ attributes.history|truncate(500) }}
{% endblock %}

{% block subitems %}
    <a target="_blank" href="{{ itemUrl }}/search">
        {{ meta.subitems }} repository descriptions available
    </a>
{% endblock %}

